html, body {
  padding: 0;
  margin: 0;
  width: 100%; }

body {
  font-family: 'Cabin', sans-serif;
  background-color: #290100; }

html {
  height: 100%; }

.navcontainer {
  position: sticky;
  top: 2px;
  background-color: rgba(240, 133, 4, 0.7);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .navcontainer .nav-left {
    margin: 0 20px; }
    .navcontainer .nav-left .fas {
      color: #290100;
      font-size: 1.85em; }
  .navcontainer .nav-right {
    font-family: 'Cabin', sans-serif;
    font-size: 1.5em;
    color: #290100;
    display: flex;
    flex-wrap: wrap; }
    .navcontainer .nav-right a:link, .navcontainer .nav-right a:visited, .navcontainer .nav-right a:hover {
      padding: 0 25px;
      text-decoration: none;
      color: #290100; }
    .navcontainer .nav-right a:hover {
      background-color: #290100;
      color: #F08504; }

.paraback1 {
  background-image: url("../images/burger-hero.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

iframe {
  border: none; }

.middle {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center; }
  .middle .about {
    background-color: #F08504;
    padding: 0 20px;
    width: 50%;
    border: 1px solid #C25C02;
    border-radius: 4px; }
    .middle .about .specialtext {
      text-align: center;
      background-color: #ffffff;
      border-radius: 4px;
      text-shadow: 1px 1px #5B1800;
      color: #d82d01; }
    .middle .about h3 {
      text-align: center;
      text-shadow: 1px 1px #5B1800; }
  .middle .right {
    width: 45%;
    display: flex;
    flex-direction: column; }
    .middle .right .secondaryimage img {
      width: 100%;
      border: 1px solid #C25C02;
      border-radius: 4px;
      background-color: #F08504; }
    .middle .right .subscription {
      background-color: #F08504;
      border: 1px solid #C25C02;
      margin-bottom: 5px;
      padding: 0 20px;
      border-radius: 4px;
      text-align: center; }
      .middle .right .subscription .socialcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .middle .right .subscription .socialcontainer img {
          margin: 0 10px; }
    .middle .right h3 {
      text-align: center;
      text-shadow: 1px 1px #5b1800; }

.youtube {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.socialbottom {
  background-color: blue; }

h1 {
  text-align: center;
  font-size: 3em;
  color: #ffffff;
  text-shadow: 2px 2px #F08504; }

.googlemap {
  max-width: 320px;
  margin: auto; }

.utah_locations {
  background-image: url("../images/burger-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #290100; }

.containerlocations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .containerlocations .location {
    width: 222px;
    height: 273px;
    border: 1px solid #C25C02;
    background-color: rgba(240, 133, 4, 0.7);
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px 10px; }
    .containerlocations .location h3 {
      text-align: center;
      text-shadow: 1px 1px #5b1800; }
    .containerlocations .location p {
      text-shadow: 1px 1px #5b1800; }

.containermenu {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  background-image: url("../images/abstract-19616_1920.jpg");
  padding: 0 30px; }
  .containermenu .topimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto; }
  .containermenu h2 {
    margin-top: 0;
    text-align: center; }
  .containermenu .menucenter {
    text-align: center; }
  .containermenu .lineimage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto; }
  .containermenu .menuextra {
    margin: 0 160px;
    display: flex;
    justify-content: space-between; }
  .containermenu h3 {
    margin: 30px 80px 0 80px;
    display: flex;
    justify-content: space-between; }
  .containermenu p {
    margin: 0; }

.jobcontainer {
  background-color: #F08504; }

.jobs {
  padding: 0 20px;
  height: 730px; }

.FAQcontainer {
  background-color: #F08504; }

.FAQ {
  padding: 0 20px;
  height: 650px; }
  .FAQ h2 {
    text-align: center; }
  .FAQ .question {
    font-size: 1.2em; }

@media only screen and (max-width: 1060px) {
  .containerlocations {
    margin: auto;
    max-width: 760px; } }

@media only screen and (max-width: 630px) {
  .navcontainer {
    display: flex;
    flex-direction: column; }
  .nav-right {
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 615px) {
  .containermenu .menuextra {
    margin: 0 80px; }
  .containermenu h3 {
    margin: 30px 40px 0 40px; } }

@media only screen and (max-width: 475px) {
  .containermenu .menuextra {
    margin: 0 40px; }
  .containermenu h3 {
    margin: 30px 10px 0 10px; } }
