$pad: 0 20px;
$leftelementsize: 50%;
$standardbackgroundcolor: #290100;

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: $standardbackgroundcolor;
}


html {
  height: 100%;
}

@mixin para() {
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navcontainer {
  position: sticky;
  top: 2px;
  background-color: rgba(41, 1, 0, .4);
  //margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .nav-left {
    margin: 0 20px;

    .fas {
      color: #ffffff;
      font-size: 1.75em;
    }
  }

  .nav-right {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;


    button {
      font-family: 'Cabin', sans-serif;
      font-size: 1.5em;
      background-color: rgb(240, 133, 4);
      color: rgb(41, 1, 0);
      border: 1px solid rgb(194, 92, 2);
      margin: 0 20px;
      border-radius: 4px;
    }

  }
}


.paraback1 {
  background-image: url("../images/burger-hero.jpg");
  @include para;
}

.middle {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

  .about {
    background-color: rgba(240, 133, 4, 1);

    padding: $pad;
    width: $leftelementsize;
    border: 1px solid #c25c02;
    border-radius: 4px;

    .specialtext {
      text-align: center;
      background-color: #ffffff;
      border-radius: 4px;
      text-shadow: 1px 1px #5b1800;
      color: #d82d01;
    }

    h3 {
      text-align: center;
      text-shadow: 1px 1px #5b1800;
    }
  }

  .right {
    width: 95% - $leftelementsize;
    display: flex;
    flex-direction: column;

    .secondaryimage img {
      width: 100%;
      border: 1px solid #c25c02;
      border-radius: 4px;
      background-color: rgba(240, 133, 4, 1);
    }

    .subscription {
      background-color: rgba(240, 133, 4, 1);
      border: 1px solid #c25c02;
      margin-bottom: 5px;
      padding: $pad;
      border-radius: 4px;
      text-align: center;
      .socialcontainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
          margin: 0 10px;
        }

      }
    }


    h3 {
      text-align: center;
      text-shadow: 1px 1px #5b1800;
    }
  }
}


.youtube {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socialbottom {
  background-color: blue;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #ffffff;
  text-shadow: 2px 2px #f08504;
}

.googlemap {
  max-width: 320px;
  margin: auto;
}

.utah_locations {
  background-image: url("../images/burger-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #290100;
}

.containerlocations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .location {
    width: 222px;
    height: 273px;
    border: 1px solid #c25c02;
    background-color: rgba(240, 133, 4, 0.7);
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px 10px;

    h3 {
      text-align: center;
      text-shadow: 1px 1px #5b1800;
    }

    p {
      text-shadow: 1px 1px #5b1800;
    }

  }
}


// todo menu clean up scss code and add variables

.containermenu {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  background-image: url("../images/abstract-19616_1920.jpg");
  padding: 0 30px;

  .topimage {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
  }

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .menucenter {
    text-align: center;
  }

  .lineimage {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
      height: auto;
    }
  }

  .menuextra {
    margin: 0 160px;
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 30px 80px 0 80px;
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }
}

@media only screen and (max-width: 1060px) {
  .containerlocations {
    margin: auto;
    max-width: 760px;
  }
}

@media only screen and (max-width: 565px) {
  .navcontainer {
    flex-direction: column;

    .nav-right {
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 615px) {
  .containermenu {
    .menuextra {
      margin: 0 80px;
    }

    h3 {
      margin: 30px 40px 0 40px;
    }
  }
}


@media only screen and (max-width: 475px) {
  .containermenu {
    .menuextra {
      margin: 0 40px;
    }

    h3 {
      margin: 30px 10px 0 10px;
    }
  }
}