$pad: 0 20px;
$aboutsize: 60%;

body {
  font-family: 'Cabin', sans-serif;
}


html {
  height: 100%;
}

.middle {
  background-color: gray;
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

  .about {
    background-color: red;
    padding: $pad;
    width: $aboutsize;
  }

  .right {
    background-color: blue;
    width: 95% - $aboutsize;
    display: flex;
    flex-direction: column;

    .secondaryimage img {
      width: 100%;
    }

    .subscription {
      background-color: green;
      padding: $pad;
    }
  }
}

.youtube {
  background-color: gold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socialbottom {
  background-color: blue;
}

h2 {
  text-align: center;
}

.googlemap {
  max-width: 320px;
  margin: auto;
}

.containerlocations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .location {
    width: 222px;
    height: 273px;
    border: 1px solid #d3d3d3;
    margin: 5px 5px;
    padding: 0 10px;

  }
}


// todo menu clean up scss code and add variables

.containermenu {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5em;
  background-image: url("../images/abstract-19616_1920.jpg");
  padding: 0 30px;

  .topimage {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
  }

  h2 {
    margin-top: 0;
    text-align: center;
  }

  .menucenter {
    text-align: center;
  }

  .lineimage {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
      height: auto;
    }
  }

  .menuextra {
    margin: 0 160px;
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 30px 80px 0 80px;
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }
}

@media only screen and (max-width: 1060px) {
  .containerlocations {
    margin: auto;
    max-width: 760px;
  }
}

@media only screen and (max-width: 615px) {
  .containermenu {
    .menuextra {
      margin: 0 80px;
    }

    h3 {
      margin: 30px 40px 0 40px;
    }
  }
}


@media only screen and (max-width: 475px) {
  .containermenu {
    .menuextra {
      margin: 0 40px;
    }

    h3 {
      margin: 30px 10px 0 10px;
    }
  }
}